<?xml version="1.0" encoding="utf-16"?>
<ConfigInformation xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DLLName>TestServer.dll</DLLName>
  <HailMessage>lala</HailMessage>
  <ApplicationName>Name</ApplicationName>
  <Port>5057</Port>
</ConfigInformation>